body {
  background-image: url("bgImg.png");
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.output {
  margin-top: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 35px; /* Add margin for spacing */
}

.custom-button {
  width: 8em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149cea;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}

.custom-button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  transition: 0.3s;
  background-color: inherit;

  transform-origin: center;
}

.custom-button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: inherit;
  transition: 0.3s;
}

.custom-button:hover::before,
.custom-button:hover::after {
  transform: scale(0);
}

.custom-button:hover {
  box-shadow: inset 0px 0px 25px #1479ea;
}

#algorithmTitle.btn-shine {
  background-size: cover;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  font-weight: 600;
  font-size: 35px;
  text-decoration: none;
  white-space: nowrap;
}

@keyframes shine {
  0% {
    background-position: -10px;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 320px;
  }
}
.welcome-text {
  font-size: 3em; 
  color: transparent;
  background-image: linear-gradient(
    to right,
    #8532ff 0%,
    #d455ff 100% 
  );
  text-align: center;
  font-family: Arial, sans-serif; 
  animation: revealText 1.5s ease-in-out forwards;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-text {
  font-size: 1.5em;
  color: #fff; 
  text-align: center; 
  font-weight: bold; 
  opacity: 0; 
  animation: revealSubText 1s ease-in-out forwards;
  animation-delay: 1.5s; 
}

@keyframes revealText {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes revealSubText {
  from {
    opacity: 0;
    transform: translateX(-100%); 
  }
  to {
    opacity: 1;
    transform: translateX(0); 
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.1em;
}

th,
td {
  padding: 8px;
  text-align: left;
}
tr ~ tr {
  border-top: 1px solid rgb(255, 255, 255);
  padding: 15px 0px;
}
th {
  background-color: #4682b4;
  color: white;
  opacity: 0.8;
}
tr {
  text-transform: capitalize;
}
